@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-lushAqua font-manrope text-auxiliary-light m-0 p-0 overflow-x-hidden;
  }

  h1 {
    @apply font-ubuntu font-bold text-h1 leading-tight;
  }

  h2 {
    @apply font-ubuntu font-bold text-h2 leading-tight;
  }

  h3 {
    @apply font-ubuntu font-bold text-h3 leading-tight;
  }

  h4 {
    @apply font-ubuntu font-bold text-h4 leading-tight;
  }

  h5 {
    @apply font-ubuntu font-bold text-h5 leading-tight;
  }

  p {
    @apply text-p leading-relaxed;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}