@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-manrope text-primary-graphite bg-primary-whiteDesert;
  }

  h1, h2, h3, h4, h5 {
    @apply font-ubuntu;
  }

  h1 { font-size: 40px; line-height: 1.2; }
  h2 { font-size: 34px; line-height: 1.2; }
  h3 { font-size: 28px; line-height: 1.3; }
  h4 { font-size: 24px; line-height: 1.3; }
  h5 { font-size: 19px; line-height: 1.4; }

  p { font-size: 16px; line-height: 1.5; }
  .text-small { font-size: 14px; line-height: 1.5; }
  .text-xsmall { font-size: 12px; line-height: 1.5; }
}

/* Hide scrollbar for slider elements */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
